@import "./variables.less";
@import "./mixins.less";
@import "./typography.less";
@import "./buttons.less";
@import "./navbar.less";
@import "./forms.less";
@import "./customblocks.less";

body {
  overflow-x:hidden;
}
img {
  max-width:100%;
  height:auto;
}

a {
  color:@lien;
  .transition-easeinout(0.125s);
  &:hover {
    text-decoration:none;
    color:@lien-hover;
  }
}
.progress, #filter li {
  .transition-easeinout(0.125s);
  .border-radius(3px);
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:Raleway, sans-serif;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:13px;
  padding:8px 26px;
  border:0;
}
.scroll-up {
  position:fixed;
  display:none;
  z-index:999;
  bottom:2em;
  right:2em;
  a:hover, a:active {
    background-color:rgba(235,235,235,0.8);
    color:#e7746f;
  }
  a {
    .border-radius(3px);
    background-color:rgba(135,135,135,0.5);
    display:block;
    width:35px;
    height:35px;
    text-align:center;
    color:#ffffff;
    font-size:15px;
    line-height:30px;
  }
}

.long-down {
  margin-bottom:40px;
}
#home {
  background:url(../img/cover.jpg);
  background-color:#222222;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:50% 50%;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  padding:0;
}
.home-overlay {
  background-color:rgba(44,62,80,0.3);
  background-image:url("../img/pattern.png");
  background-repeat:repeat;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:0;
}
.intro {
  position:absolute;
  width:100%;
  top:50%;
  left:0;
  text-align:center;
  -webkit-transform:translate(0%,-50%);
  -moz-transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%);
  -o-transform:translate(0%,-50%);
  transform:translate(0%,-50%);
  padding:0 15px;
  h1 {
    font-weight:800;
  }
}
.start {
  font-family:Raleway, "Times New Roman", Times, sans-serif;
  font-size:16px;
  font-style:normal;
  text-transform:none;
  margin:15px 0;
}
.chart {
  display:inline-block;
  height:140px;
  margin:50px 0;
  position:relative;
  text-align:center;
  width:140px;
  canvas {
    left:0;
    position:absolute;
    top:0;
  }
}
.percent {
  display:inline-block;
  font-size:25px;
  font-weight:300;
  line-height:140px;
  z-index:2;
}
.percent:after {
  content:"%";
  font-size:50%;
  margin-left:0.1em;
}
.ajax-response {
  text-align:center;
}
#footer {
  background:#222222;
  text-align:center;
  padding:40px 0;
  color:#ffffff;
  span {
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    color:#ff5252;
  }
}
.copyright {
  margin:0;
  a {
    border-bottom:1px dotted #ffffff;
  }
}
.social-links {
  list-style:none;
  padding:0;
  margin:0 0 20px;
  li {
    display:inline-block;
    margin:5px;
  }
  a {
    width:36px;
    height:36px;
    display:block;
    line-height:35px;
    text-align:center;
    border:1px solid rgba(255,255,255,0.1);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-size:14px;
    color:rgba(255,255,255,0.2);
  }
  a:hover {
    border:1px solid rgba(255,255,255,0.5);
    color:rgba(255,255,255,0.8);
  }
}
.header {
  border-bottom:1px solid #f5f5f5;
  position:relative;
  width:100%;
  z-index:998;
}
.scroll-down {
  position:absolute;
  left:50%;
  bottom:40px;
  border:2px solid #ffffff;
  border-radius:50%;
  height:50px;
  width:50px;
  margin-left:-15px;
  display:block;
  z-index:10;
  text-align:center;
  span {
    position:relative;
    color:#ffffff;
    -webkit-animation-name:drop;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-play-state:running;
    animation-name:drop;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-play-state:running;
  }
}
@-webkit-keyframes drop {
  0%   { top:0px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}

@keyframes drop {
  0%   { top:0px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}

#preloader {
  background:#ffffff;
  bottom:0;
  left:0;
  position:fixed;
  right:0;
  top:0;
  z-index:9999;
}
#status {
  background-image:url(../images/preloader.gif);
  background-position:center;
  background-repeat:no-repeat;
  height:200px;
  left:50%;
  margin:-100px 0 0 -100px;
  position:absolute;
  top:50%;
  width:200px;
}
.grid {
  position:relative;
  clear:both;
  margin:0 auto;
  padding:1em 0 4em;
  max-width:100%;
  list-style:none;
  text-align:center;
  h2 {
    font-size:20px;
  }
  figure {
    position:relative;
    float:left;
    overflow:hidden;
    margin:10px 1%;
    min-width:100%;
    max-width:100%;
    height:auto;
    background:#3085a3;
    text-align:center;
    cursor:pointer;
    figcaption::before, figcaption::after {
      pointer-events:none;
    }
    img {
      position:relative;
      display:block;
      min-height:100%;
      max-width:100%;
      opacity:0.8;
    }
    figcaption {
      padding:2em;
      color:#ffffff;
      text-transform:uppercase;
      font-size:1.25em;
      -webkit-backface-visibility:hidden;
      backface-visibility:hidden;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      > a {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:1000;
        text-indent:200%;
        white-space:nowrap;
        font-size:0;
        opacity:0;
      }
    }
    h2 {
      word-spacing:-0.15em;
      font-weight:300;
      margin:0;
      span {
        font-weight:800;
      }
    }
    p {
      margin:0;
      letter-spacing:1px;
      font-size:68.5%;
    }
  }
}
figure.effect-bubba {
  background:#9e5406;
  img {
    opacity:0.7;
    -webkit-transition:opacity 0.35s;
    transition:opacity 0.35s;
  }
  figcaption::before {
    position:absolute;
    top:30px;
    right:30px;
    bottom:30px;
    left:30px;
    content:'';
    opacity:0;
    -webkit-transition:opacity 0.35s, -webkit-transform 0.35s;
    transition:opacity 0.35s, transform 0.35s;
    border-top:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
    -webkit-transform:scale(0,1);
    transform:scale(0,1);
  }
  figcaption::after {
    position:absolute;
    top:30px;
    right:30px;
    bottom:30px;
    left:30px;
    content:'';
    opacity:0;
    -webkit-transition:opacity 0.35s, -webkit-transform 0.35s;
    transition:opacity 0.35s, transform 0.35s;
    border-right:1px solid #ffffff;
    border-left:1px solid #ffffff;
    -webkit-transform:scale(1,0);
    transform:scale(1,0);
  }
  h2 {
    padding-top:10%;
    -webkit-transition:-webkit-transform 0.35s;
    transition:transform 0.35s;
    -webkit-transform:translate3d(0,-20px,0);
    transform:translate3d(0,-20px,0);
    color:#ffffff;
  }
  p {
    padding:20px 2.5em;
    opacity:0;
    -webkit-transition:opacity 0.35s, -webkit-transform 0.35s;
    transition:opacity 0.35s, transform 0.35s;
    -webkit-transform:translate3d(0,20px,0);
    transform:translate3d(0,20px,0);
  }
}
figure.effect-bubba:hover {
  figcaption::before, figcaption::after {
    opacity:1;
    -webkit-transform:scale(1);
    transform:scale(1);
  }
  h2, p {
    opacity:1;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
  }
  img {
    opacity:0.4;
  }
}
.cbp-qtrotator {
  position:relative;
  margin:3em auto 0em auto;
  max-width:90%;
  width:90%;
  .cbp-qtcontent {
    position:absolute;
    min-height:200px;
    border-top:1px solid #f4f4f4;
    border-bottom:1px solid #f4f4f4;
    padding:2em 0;
    top:0;
    z-index:0;
    opacity:0;
    width:100%;
    img {
      float:right;
      margin-left:3em;
    }
  }
  .cbp-qtcontent.cbp-qtcurrent {
    position:relative;
    z-index:100;
    pointer-events:auto;
    opacity:1;
  }
  .cbp-qtcontent:before {
    content:" ";
    display:table;
  }
  .cbp-qtcontent:after {
    content:" ";
    display:table;
    clear:both;
  }
  blockquote {
    margin:0;
    padding:0;
    border:0;
    font-size:12px;
    p {
      font-size:2em;
      color:#888888;
      font-weight:300;
      margin:0.4em 0 1em;
    }
    footer {
      font-size:1.2em;
    }
    footer:before {
      content:'― ';
    }
  }
}
.no-js .cbp-qtrotator .cbp-qtcontent {
  border-bottom:none;
  position:relative;
  z-index:100;
  pointer-events:auto;
  opacity:1;
}
.cbp-qtprogress {
  position:absolute;
  background:#ff5252;
  height:1px;
  width:0%;
  top:0;
  z-index:1000;
}