script(src='/assets/lib/jquery/dist/jquery.min.js')
script(src='/assets/lib/bootstrap/dist/js/bootstrap.min.js')
script(src='/assets/js/jquery.sticky.js')
script(src='/assets/lib/jquery-smooth-scroll/jquery.smooth-scroll.min.js')
script(src='/assets/lib/wow/dist/wow.min.js')
script(src='/assets/lib/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js')
script(src='/assets/lib/waypoints/lib/jquery.waypoints.min.js')
script(src='/assets/js/scripts.js')